<html>
    <head>
        <meta charset="UTF-8">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head> 
    <body>
        <nav class="navbar">
            <div class="logo"><%=title %></div>
        </nav>
        <div class="container">
            <div class="forms-container">
                <div class="signin">
                    <form>
                        <h2 class="title">Login As</h2>
                        <button type="submit" class="btn" formaction="/log">Teacher</button>
                        <button type="submit" class="btn" formaction="/login">Student</button>
                    </form>
                </div>
            </div>
            <img src="images/TS-PGECET-Result-2021.png" class="image" alt="">
        </div>
    </body>
</html>